{%- load_yaml as base_defaults %}
Debian:
  pkgs:
  - rsyslog
  service:
  - rsyslogd
  output:
    file:
      /var/log/syslog:
        sync: false
        filter: "*.*;auth,authpriv.none"
        owner: syslog
        group: adm
        createmode: "0640"
        umask: "0022"
        enable: true
      /var/log/auth:
        sync: true
        filter: "auth,authpriv.*"
        owner: syslog
        group: adm
        createmode: "0640"
        umask: "0022"
        enable: true
      /var/log/kern:
        sync: false
        filter: "kern.*"
        owner: syslog
        group: adm
        createmode: "0640"
        umask: "0022"
        enable: true
      /var/log/mail.log:
        sync: false
        filter: "mail.*"
        owner: syslog
        group: adm
        createmode: "0640"
        umask: "0022"
        enable: true
      /var/log/mail.err:
        action: /var/log/mail.err
        filter: mail.err
        owner: syslog
        group: adm
        createmode: "0640"
        umask: "0022"
        enable: true
    console:
      wall:
        action: ":omusrmsg:*"
        filter: "*.emerg"
        enable: true
      xconsole:
        action: "|/dev/xconsole"
        filter: "daemon.*;mail.*; news.err; *.=debug;*.=info;*.=notice;*.=warn"
        enable: true
RedHat:
  pkgs:
  - rsyslog
  service:
  - rsyslogd
  file:
    owner: root
    group: root
    createmode: "0640"
    umask: "0000"
  logfiles:
  - /var/log/messages
  - /var/log/secure
  - /var/log/maillog
  - /var/log/cron
  - /var/log/spooler
  - /var/log/boot.log
{%- endload %}
{%- set server = salt['grains.filter_by'](base_defaults, merge=salt['pillar.get']('rsyslog:server')) %}
{%- set client = salt['grains.filter_by'](base_defaults, merge=salt['pillar.get']('rsyslog:client')) %}
