{%- load_yaml as base_defaults %}
Debian:
  pkgs:
  - rsyslog
  service:
  - rsyslogd
  configfile: /etc/rsyslog.conf
RedHat:
  pkgs:
  - rsyslog
  service:
  - rsyslogd
  configfile: /etc/rsyslog.conf
  file:
    owner: root
    group: root
    createmode: 640
{%- endload %}
{%- set server = salt['grains.filter_by'](base_defaults, merge=salt['pillar.get']('rsyslog:server')) %}
{%- set client = salt['grains.filter_by'](base_defaults, merge=salt['pillar.get']('rsyslog:client')) %}
